body {
    margin: 0;
    background-color: rgb(4, 32, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 300px;
    height: 600px;
    position: relative;
    background: red;
    border-radius: 30px;
    border: 3px solid silver;
    .button-1{
        position:absolute;
        top:160px;
        left: -7px;
        width:5px;
        height:60px;
        background-color:gray;
        border-radius: 2px;
    }

    .button-2,.button-3 {
        width: 5px;
        height: 40px;
        background-color: gray;
        border-radius: 2px;
        position:absolute;
        right: -7px;
    }

    .button-2 {
        top:140px;
    }
    .button-3 {
        top:195px;
    }
}

.camera {
    position: relative;
    width: 130px;
    height: 130px;
    background-color: rgb(51, 50, 50);
    top: 10px;
    left: 10px;
    border-radius: 25px;
    border: 3px solid silver;
}

.circle {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    border: 3px solid silver;
    display: flex;
    justify-content: center;
    align-items:center;
}

.circle::after {
    content: '';
    position:absolute;
    width: 80%;
    height: 80%;
    background-color: rgb(51, 50, 50);
    border-radius: 50%;
}

.circle::before {
    content: '';
    position: absolute;
    width:40%;
    height:40%;
    border-radius: 50%;
    z-index: 2;
    background: radial-gradient( blue,black);
}

.circle-2 {
    left: 52%;
    top: -12%;
}

.circle-1 {
    top: 2px;
    left: 2px;
}

.circle-3 {
    left: 2px;
    top: -40px;
}

.light {
    width: 20px;
    height: 20px;
    background: radial-gradient(yellow,white);
    position:absolute;
    border-radius: 50%;
    top: 10px;
    right: 25px;
    border: 2px solid silver;
}

.black {
    position: absolute;
    width: 20px;
    height: 20px;
    background: black;
    border-radius:50%;
    bottom: 5px;
    right:25px;
    border: 2px solid silver;
}

.round {
    position: absolute;
    width: 5px;
    height: 5px;
    border:2px solid silver;
    border-radius: 50%;
    bottom: 26px;
    right: 10px;
}

.apple {
    position: absolute;
    left: 80%;
    top: 220px;
    font-size: 80px;
    color: silver;
}